
<div class="container">
  <div class="content">
    <div class="voyado">
      <img src="https://i.imgur.com/tbnM9Av.png">
    </div>
    <div class="search">
      <input type="text" (keyup.enter)="getValue(inputBox.value)" submit="searchButton "id="input" #inputBox name="search" />
      <button type=submit  id="searchButton" (click)="getValue(inputBox.value)">Search</button>
    </div>
    <div class="result">
      <p class="resultText">Search Results: {{searchResult}}</p>
    </div>
  </div>
</div>
