.container {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#input {
  height: 100px;
  width: 800px;
  font-size: 50px;
}

#searchButton {
  width: 350px;
  font-size: 50px;
  background-color: #79AC34;
}

div.search {
  display: flex;
  color: #43567B;
  color: #57423E;
}

.result {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.resultText {
  margin-top:;
}

.voyado, voyado {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

